<div class="jumbotron">
  <h1>Participe agora!</h1>
  <p class="lead">
    Realize sua inscrição e faça parte dessa jornada.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/cadastro">Realizar inscrição!</a></p>
</div>

<div class="row marketing">
  <h4>Crie seu próprio negócio</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut dui at sapien vehicula venenatis. Aenean eget urna vitae urna laoreet cursus nec non odio. Mauris accumsan id purus vitae porttitor. Donec in egestas turpis, eget placerat nisl. Aenean sollicitudin nisi sed sollicitudin scelerisque.
  </p>

  <h4>Crie seu MVP</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut dui at sapien vehicula venenatis. Aenean eget urna vitae urna laoreet cursus nec non odio. Mauris accumsan id purus vitae porttitor. Donec in egestas turpis, eget placerat nisl. Aenean sollicitudin nisi sed sollicitudin scelerisque.
  </p>

  <h4>Seja um empreendedor</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut dui at sapien vehicula venenatis. Aenean eget urna vitae urna laoreet cursus nec non odio. Mauris accumsan id purus vitae porttitor. Donec in egestas turpis, eget placerat nisl. Aenean sollicitudin nisi sed sollicitudin scelerisque.</p>
</div>
